<div class="pager-header">
  <div class="container">
      <div class="page-content">
          <h2>Nosotros</h2>
          <p>Programa internacional de orígenes culinarios. </p>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['home']">Inicio</a></li>
              <li class="breadcrumb-item active">Nosotros</li>
          </ol>
      </div>
  </div>
</div><!-- /Page Header -->

<div class="about-inner bg-grey padding">
  <div class="container">
      <div class="row about-inner-wrap">
          <div class="col-md-6 xs-padding">
              <div class="about-inner-content">
                  <h2>Sobre Nosotros</h2>
                  <p>
                      Orígenes, enfocados en una visión de desarrollo y distinción del arte culinario como parte de las disciplinas más demandantes en la actualidad, hemos considerado necesario el fomentar el intercambio cultural en el ámbito gastronómico y expandir la realidad y el patrimonio culinario de cada una de las naciones mediante la formación de alianzas con escuelas, institutos o universidades relacionados con la formación profesional dentro de las áreas gastronómicas o afines.
                  </p>
              </div>
          </div>
          <div class="col-md-6 xs-padding">
              <div class="about-inner-bg">
                  <img src="assets/img/f30.jpg" alt="img">
              </div>
          </div>
      </div>
  </div>
</div><!-- /About Section -->

<section class="team-section padding">
  <div class="container">
      <div class="section-heading mb-40 text-center">
         <h2>Nuestros Instructores</h2>
         <p>Mira a algunos de nuestros instructores, que forman parte de Orígenes</p>
      </div>
      <div class="row team-wrap">
          <div class="col-lg-3 col-md-6 sm-padding">
              <div class="team-box">
                  <div class="team-thumb">
                      <img src="assets/img/f31.jpg" alt="team">
                  </div>
                  <div class="team-details">
                      <h4>Juan Fernández</h4>
                      <span>DIRECTOR DE CULINARY ART’S SCHOOL</span>
                  </div>
              </div>
          </div><!-- /#Team-1 -->
          <div class="col-lg-3 col-md-6 sm-padding">
              <div class="team-box">
                  <div class="team-thumb">
                      <img src="assets/img/f32.jpg" alt="team">
                  </div>
                  <div class="team-details">
                      <h4>Oswaldo Simbaña</h4>
                      <span>INSTRUCTOR DE PANADERÍA Y PASTELERÍA PROFESIONAL</span>
                  </div>
              </div>
          </div><!-- /#Team-2 -->
          <div class="col-lg-3 col-md-6 sm-padding">
              <div class="team-box">
                  <div class="team-thumb">
                      <img src="assets/img/f34.jpeg" alt="team">
                  </div>
                  <div class="team-details">
                      <h4>Juan Pedro Coloma</h4>
                      <span>Instructor de técnicas culinarias</span>
                  </div>
              </div>
          </div><!-- /#Team-4 -->
      </div>
  </div>
</section><!-- /#Team-Section -->

<section id="counter" class="counter-section">
<div class="container">
      <ul class="row counters">
          <li class="col-md-3 col-sm-6 sm-padding">
              <div class="counter-content">
                  <i class="ti-user"></i>
                  <h3><span class="counter">95</span>Instructors</h3>
              </div>
          </li>
          <li class="col-md-3 col-sm-6 sm-padding">
              <div class="counter-content">
                  <i class="ti-book"></i>
                  <h3><span class="counter">549</span>Online Courses</h3>
              </div>
          </li>
          <li class="col-md-3 col-sm-6 sm-padding">
              <div class="counter-content">
                  <i class="ti-tag"></i>
                  <h3><span class="counter">205</span>Year of History</h3>
              </div>
          </li>
          <li class="col-md-3 col-sm-6 sm-padding">
              <div class="counter-content">
                  <i class="ti-crown"></i>
                  <h3><span class="counter">4950</span>Active Students</h3>
              </div>
          </li>
      </ul>
</div>
</section><!-- Counter Section -->

<div class="sponsor-section bd-bottom">
  <div class="container">
      <ul id="sponsor-carousel" class="sponsor-items owl-carousel">
          <li class="sponsor-item">
              <img src="assets/img/sponsor-1.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-2.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-3.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-4.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-5.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-6.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-7.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-8.png" alt="sponsor-image">
          </li>
      </ul>
  </div>
</div><!-- ./Sponsor Section -->
