<section class="slider-section">
  <div class="slider-wrapper">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="./assets/img/f1.jpg" alt="Random first slide" />
        <div class="carousel-caption">
          <div class="container">
            <div class="slider-text">
              <h5
                class="wow cssanimation fadeInBottom"
                style="visibility: visible; animation-name: bfadeInBottom;"
              >
                explora, conoce, observa
              </h5>
              <h1
                class="wow cssanimation fadeInTop"
                data-wow-delay="1s"
                data-wow-duration="800ms"
                style="visibility: visible; animation-duration: 800ms; animation-delay: 1s; animation-name: bfadeInTop;"
              >
                ABRE LAS PUERTAS DE TU MUNDO
              </h1>
              <p
                class="wow cssanimation fadeInBottom"
                data-wow-delay="1s"
                style="visibility: visible; animation-delay: 1s; animation-name: bfadeInBottom;"
              >
                PROGRAMA INTERNACIONAL DE INTERCAMBIOS CULINARIOS
                <br />Enfocados en una visión de tu desarrollo
              </p>
              <a
                href="#"
                class="default-btn wow cssanimation fadeInBottom"
                data-wow-delay="0.8s"
                style="visibility: visible; animation-delay: 0.8s; animation-name: bfadeInBottom;"
                >Información</a
              >
              <a
                href="#"
                class="default-btn wow cssanimation fadeInBottom"
                data-wow-delay="0.8s"
                style="visibility: visible; animation-delay: 0.8s; animation-name: bfadeInBottom;"
                >Eventos</a
              >
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="./assets/img/f2.jpg" alt="Random second slide" />
        <div class="carousel-caption">
          <div class="container">
            <div class="slider-text">
              <h5
                class="wow cssanimation fadeInBottom"
                style="visibility: visible; animation-name: bfadeInBottom;"
              >
                explora, conoce, observa
              </h5>
              <h1
                class="wow cssanimation fadeInTop"
                data-wow-delay="1s"
                data-wow-duration="800ms"
                style="visibility: visible; animation-duration: 800ms; animation-delay: 1s; animation-name: bfadeInTop;"
              >
                ABRE LAS PUERTAS DE TU MUNDO
              </h1>
              <p
                class="wow cssanimation fadeInBottom"
                data-wow-delay="1s"
                style="visibility: visible; animation-delay: 1s; animation-name: bfadeInBottom;"
              >
                PROGRAMA INTERNACIONAL DE INTERCAMBIOS CULINARIOS
                <br />Enfocados en una visión de tu desarrollo
              </p>
              <a
                href="#"
                class="default-btn wow cssanimation fadeInBottom"
                data-wow-delay="0.8s"
                style="visibility: visible; animation-delay: 0.8s; animation-name: bfadeInBottom;"
                >Información</a
              >
              <a
                href="#"
                class="default-btn wow cssanimation fadeInBottom"
                data-wow-delay="0.8s"
                style="visibility: visible; animation-delay: 0.8s; animation-name: bfadeInBottom;"
                >Eventos</a
              >
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="./assets/img/f3.jpg" alt="Random third slide" />
        <div class="carousel-caption">
          <div class="container">
            <div class="slider-text">
              <h5
                class="wow cssanimation fadeInBottom"
                style="visibility: visible; animation-name: bfadeInBottom;"
              >
                explora, conoce, observa
              </h5>
              <h1
                class="wow cssanimation fadeInTop"
                data-wow-delay="1s"
                data-wow-duration="800ms"
                style="visibility: visible; animation-duration: 800ms; animation-delay: 1s; animation-name: bfadeInTop;"
              >
                ABRE LAS PUERTAS DE TU MUNDO
              </h1>
              <p
                class="wow cssanimation fadeInBottom"
                data-wow-delay="1s"
                style="visibility: visible; animation-delay: 1s; animation-name: bfadeInBottom;"
              >
                PROGRAMA INTERNACIONAL DE INTERCAMBIOS CULINARIOS
                <br />Enfocados en una visión de tu desarrollo
              </p>
              <a
                href="#"
                class="default-btn wow cssanimation fadeInBottom"
                data-wow-delay="0.8s"
                style="visibility: visible; animation-delay: 0.8s; animation-name: bfadeInBottom;"
                >Información</a
              >
              <a
                href="#"
                class="default-btn wow cssanimation fadeInBottom"
                data-wow-delay="0.8s"
                style="visibility: visible; animation-delay: 0.8s; animation-name: bfadeInBottom;"
                >Eventos</a
              >
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</section>
<section class="promo-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row promo-wrap">
          <div class="col-md-4">
            <div class="promo-content">
              <div class="promo-thumb">
                <img src="./assets/img/icon-1.png" alt="icon" />
              </div>
              <div class="promo-text">
                <h3>Información en linea</h3>
                <p>Obtén informacion actualizada de nuestro avance.</p>
                <a href="#" class="read-more">Lea mas</a>
              </div>
            </div>
          </div>
          <!-- /#promo-1 -->
          <div class="col-md-4">
            <div class="promo-content">
              <div class="promo-thumb">
                <img src="./assets/img/icon-2.png" alt="icon" />
              </div>
              <div class="promo-text">
                <h3>Ser parte de Origenes?</h3>
                <p>
                  Descargue el formulario básico y aplica a nuestra membresía.
                </p>
                <a href="#" class="read-more">Learn More</a>
              </div>
            </div>
          </div>
          <!-- /#promo-1 -->
          <div class="col-md-4">
            <div class="promo-content">
              <div class="promo-thumb">
                <img src="./assets/img/icon-3.png" alt="icon" />
              </div>
              <div class="promo-text">
                <h3>Certificación</h3>
                <p>
                  Nuestro certificado garantiza cada una de nuestras filiales.
                </p>
                <a href="#" class="read-more">Learn More</a>
              </div>
            </div>
          </div>
          <!-- /#promo-1 -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#Promo-Section -->
<section class="about-section">
  <div class="container">
    <owl-carousel-o [options]="customOptions2">
      <ng-template carouselSlide>
        <section class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-6 fadeInTop">
                <div>
                  <img class="img-filiales vcenter img-fluid" src="./assets/img/logo-culinary.jpg" />
                </div>
              </div>
              <div
                class="col-md-6 col-lg-5  align-items-center mt-4 mt-md-0 fadeInBottom"
              >
                <div class="about-content">
                  <h2>Culinary Arts School</h2>
                  <p class="text-justify">
                    Culinary Art’s School es una escuela de formación especializada en Arte Culinario y Hospitalidad, creada con la finalidad de dar respuesta a la creciente demanda de profesionalización de un sector importante para el desarrollo del país por su repercusión en el campo turístico, económico, social y cultural.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </ng-template>
      <ng-template carouselSlide>
        <section class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-6 fadeInTop">
                <div>
                  <img
                    class="img-filiales vcenter img-fluid"
                    src="./assets/img/GARNISH EL SALVADOR LOGO f.jpg"
                  />
                </div>
              </div>
              <div
                class="col-md-6 col-lg-5  align-items-center mt-4 mt-md-0 fadeInBottom"
              >
                <div class="about-content">
                  <h2>Garnish</h2>
                  <p class="text-justify">
                    Somos una escuela de gastronomía que nos dedicamos a crear cocineros y cocineras que puedan desempeñarse en cualquier ámbito, donde no solamente enseñamos recetas sino enseñamos a interpretar una ! Fusión del arte y sabor!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </ng-template>
      <ng-template carouselSlide>
        <section class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-6 fadeInTop">
                <div>
                  <img
                    class="img-filiales vcenter img-fluid"
                    src="./assets/img/LA_FONTANA_LOGO VENEZUELAf.jpg"
                  />
                </div>
              </div>
              <div
                class="col-md-6 col-lg-5  align-items-center mt-4 mt-md-0 fadeInBottom"
              >
                <div class="about-content">
                  <h2>La Fontana</h2>
                  <p class="text-justify">
                    La escuela de gastronomía La Fontana tiene como objetivo Lograr una formación integral y las destrezas necesarias para insertarse en el campo laboral. Proyectar nuestra gastronomia alrededor del mundo, participar en eventos nacionales e internacionales. Brindar una educación gastronómica de alta calidad. Preparar al participante o estudiante para ser excelente cocinero y proveerlo de todos los conocimiento para ser un verdadero chef y un emprendedor exitoso.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </ng-template>
      <ng-template carouselSlide>
        <section class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-6 fadeInTop">
                <div>
                  <img
                    class="img-filiales vcenter img-fluid"
                    src="./assets/img/LAURUS LOGO VENEZUELAf.jpg"
                  />
                </div>
              </div>
              <div
                class="col-md-6 col-lg-5  align-items-center mt-4 mt-md-0 fadeInBottom"
              >
                <div class="about-content">
                  <h2>Laurus</h2>
                  <p class="text-justify">
                    El instituto Culinario Laurus, nace en el 2009 de la mano de su creadora y directora Zoraida Barrios, conocida cariñosamente como mama Zory. Laurus surge debido a que para el momento no se podía encontrar ninguna escuela gastronómica con estudios especializados de cocina, que se adaptara a las distintas exigencias de la cocina actual.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </ng-template>
      <ng-template carouselSlide>
        <section class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-6 fadeInTop">
                <div>
                  <img
                    class="img-filiales vcenter img-fluid"
                    src="./assets/img/LE_GOURMETS_LOGO VENEZUELAf.jpg"
                  />
                </div>
              </div>
              <div
                class="col-md-6 col-lg-5  align-items-center mt-4 mt-md-0 fadeInBottom"
              >
                <div class="about-content">
                  <h2>Le Goumets</h2>
                  <p class="text-justify">
                    Nuestra enseñanza teórica-práctica es una de las más completas, ya que combina clases teóricas dirigidas por Chefs especializados, con sesiones prácticas en las cuales los estudiantes participan en el desarrollo de las técnicas básicas de cocina necesarias para la elaboración y presentación de platos de alta cocina.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<!-- /#About Section -->
<section class="course-section bg-grey padding">
  <div class="container">
    <div class="section-heading mb-40 text-center">
      <h2>Cursos Patrimoniales Por Filial</h2>
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="course-item">
          <div class="course-thumb">
            <img src="./assets/img/f20.jpg" alt="course" />
            <a class="enroll-btn" href="#"
              >Book Now <i class="fa fa-plus"></i
            ></a>
          </div>
          <div class="course-details">
            <h3><a href="#">Basic Wordpress Development</a></h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and industry.
            </p>
            <div class="course-footer">
              <span><i class="fa fa-group"></i>763</span>
              <span><i class="fa fa-heart"></i>205</span>
              <span class="price">$499</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="course-item">
          <div class="course-thumb">
            <img src="./assets/img/f30.jpg" alt="course" />
            <a class="enroll-btn" href="#"
              >Book Now <i class="fa fa-plus"></i
            ></a>
          </div>
          <div class="course-details">
            <h3><a href="#">Mastering Php Language</a></h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and industry.
            </p>
            <div class="course-footer">
              <span><i class="fa fa-group"></i>763</span>
              <span><i class="fa fa-heart"></i>205</span>
              <span class="price">$149</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="course-item">
          <div class="course-thumb">
            <img src="./assets/img/f40.jpg" alt="course" />
            <a class="enroll-btn" href="#"
              >Book Now <i class="fa fa-plus"></i
            ></a>
          </div>
          <div class="course-details">
            <h3><a href="#">Javascript Development</a></h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and industry.
            </p>
            <div class="course-footer">
              <span><i class="fa fa-group"></i>763</span>
              <span><i class="fa fa-heart"></i>205</span>
              <span class="price">$239</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="course-item">
          <div class="course-thumb">
            <img src="./assets/img/f50.jpg" alt="course" />
            <a class="enroll-btn" href="#"
              >Book Now <i class="fa fa-plus"></i
            ></a>
          </div>
          <div class="course-details">
            <h3><a href="#">Frontend Development</a></h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and industry.
            </p>
            <div class="course-footer">
              <span><i class="fa fa-group"></i>763</span>
              <span><i class="fa fa-heart"></i>205</span>
              <span class="price">$849</span>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<!-- /#Course-Section -->
<section class="video-cta">
  <div
    class="video-bg"
    data-property="{videoURL:'ziysTLL5dig',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1, showControls:false, ratio:'16/9', quality: 'hd720', showYTLogo: false }"
  ></div>
  <div class="video-content-wrapper">
    <div class="container">
      <div class="video-content text-center">
        <h3>
          El proyecto que unirá las riquezas gastronómicas del continente
          americano
        </h3>
        <h2>Quieres ser parte de Origenes?</h2>
        <a [routerLink]="['/registro']" class="default-btn">Únete</a>
      </div>
    </div>
  </div>
</section>
<!-- Video Section -->
<!-- <section class="reg-section padding">
  <div class="container">
    <div class="row reg-wrap">
      <div class="col-lg-8 text-center">
        <div class="reg-content">
          <h3 class="counter">956</h3>
          <h2>Total Registros</h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="reg-form">
          <div class="form-heading">
            <h2>Registrate Ahora</h2>
          </div>
          <form action="#" method="post">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Nombre"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Correo"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="phone"
                placeholder="Teléfono"
              />
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Register Section -->

<section class="event-section bg-grey padding">
  <div class="container">
    <div class="section-heading mb-40 text-center">
      <h2>Próximos Eventos</h2>
      <p>Enterate de los próximos eventos en Latinoamérica.</p>
    </div>
    <div class="event-items">
      <div class="row event-wrap d-flex align-items-center">
        <div class="col-lg-2 text-center">
          <div class="event-date">
            <!--  <h2>15 <span>January</span></h2> -->
            <h2>2019</h2>
          </div>
          <div class="ticket-btn">
            <a
              href="https://latinamericanpost.com/es/22011-4-congresos-gastronomicos-en-latinoamerica-para-degustar-aprender-y-viajar"
              class="default-btn"
              >Ver más...</a
            >
          </div>
        </div>
        <div class="col-lg-7">
          <div class="event-details">
            <h2>
              <a
                href="https://latinamericanpost.com/es/22011-4-congresos-gastronomicos-en-latinoamerica-para-degustar-aprender-y-viajar"
                >4 congresos gastronómicos en Latinoamérica para degustar,
                aprender y viajar</a
              >
            </h2>
            <!--                                 <ul class="event-time">
                          <li><i class="fa fa-clock-o"></i>5:00 AM - 9:00 PM</li>
                          <li><i class="fa fa-map-marker"></i>Inter Continental Garden, Dhaka.</li>
                      </ul> -->
            <p>
              Encuentra aquí una lista de los encuentros más renombrados de la
              gastronomía latinoamericana que ningún apasionado de la culinaria
              se puede perder
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="event-thumb">
            <img src="./assets/img/f8.jpg" alt="event" />
          </div>
        </div>
      </div>
      <!-- Event-1 -->
      <div class="row event-wrap d-flex align-items-center">
        <div class="col-lg-2 text-center">
          <div class="event-date">
            <!-- <h2>21 <span>January</span></h2> -->
            <h2>2019</h2>
          </div>
          <div class="ticket-btn">
            <a href="http://niam.cl/" class="default-btn">Ver más...</a>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="event-details">
            <h2><a href="http://niam.cl/">Cambiemos el mundo comiendo</a></h2>
            <p>
              Encuentro gastronómico de innovación social. El espacio donde se
              cultivan, comparten y cosechan ideas que cambian el mundo
              comiendo.
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="event-thumb">
            <img src="./assets/img/f7.jpg" alt="event" />
          </div>
        </div>
      </div>
      <!-- Event-2 -->
    </div>
  </div>
</section>
<!-- Event Section -->

<section id="counter" class="counter-section">
  <div class="container">
    <ul class="row counters">
      <li class="col-lg-3 col-sm-6 sm-padding">
        <div class="counter-content">
          <i class="ti-user"></i>
          <h3><span class="counter">95</span>Instructores</h3>
        </div>
      </li>
      <li class="col-lg-3 col-sm-6 sm-padding">
        <div class="counter-content">
          <i class="ti-book"></i>
          <h3><span class="counter">120</span>Cursos en línea</h3>
        </div>
      </li>
      <li class="col-lg-3 col-sm-6 sm-padding">
        <div class="counter-content">
          <i class="ti-tag"></i>
          <h3><span class="counter">485</span>Casos de éxito</h3>
        </div>
      </li>
      <li class="col-lg-3 col-sm-6 sm-padding">
        <div class="counter-content">
          <i class="ti-crown"></i>
          <h3><span class="counter">2890</span>Estudiantes Actívos</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- Counter Section -->

<!-- <section class="testimonial-section padding">
  <div class="container">
    <div class="section-heading mb-40 text-center">
      <h2>Lo que la gente dice</h2>
      <p>Testimonios sobre lo que la gente opina de Orígenes.</p>
    </div>
    <div id="testimonial-carousel" class="testimonial-carousel owl-carousel">
      <div class="testimonial-item text-center">
        <img src="" style="background:#525252" />
        <h4>Marcelo Román <span>Quitec.</span></h4>
        <p>
          La idea de fomentar el conocimiento a nivel continental sin duda es un
          gran avance para la región.<br />Estudiante.
        </p>
        <ul class="rattings">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
      </div>
      <div class="testimonial-item text-center">
        <img src="" style="background:#393eee" />
        <h4>Jonathan Smith<span>Apple Inc.</span></h4>
        <p>
          This should be used to tell a story <br />
          and let your users know about your <br />product or service.
        </p>
        <ul class="rattings">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
      </div>
      <div class="testimonial-item text-center">
        <img src="" style="background:#a72c2c" />
        <h4>Jonathan Smith<span>Wordpress Inc.</span></h4>
        <p>
          This should be used to tell a story <br />
          and let your users know about your <br />product or service.
        </p>
        <ul class="rattings">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
      </div>
      <div class="testimonial-item text-center">
        <img src="" style="background:#c9cc23" />
        <h4>Angelina Rose<span>Envato Inc.</span></h4>
        <p>
          This should be used to tell a story <br />
          and let your users know about your <br />product or service.
        </p>
        <ul class="rattings">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
      </div>
    </div>
  </div>
</section> -->

<!-- Testimonial Section -->
<section class="blog-section bg-grey padding">
  <div class="container">
    <div class="section-heading mb-40 text-center">
      <h2>Publicaciones gráficas</h2>
      <p>Te mostramos información gráfica variada.</p>
    </div>
    <div class="row">
      <div class="col-lg-12 xs-padding">
        <div class="blog-items grid-list row">
          <div class="col-md-4 padding-15">
            <div class="blog-post">
              <img src="./assets/img/f12.jpg" alt="blog post" />
              <div class="blog-content">
                <span class="date"
                  ><i class="fa fa-clock-o"></i> January 01.2018</span
                >
                <h3>
                  <a
                    href="http://www.bonviveur.es/noticias/the-worlds-50-best-restaurants-2018-lista-del-51-al-100"
                    >The World's 50 Best Restaurants 2018</a
                  >
                </h3>
                <p>
                  Repasamos los restaurantes que ocupan los puestos que van
                  desde el número 51 al 100 de los premios The World's 50 Best
                  Restaurants 2018, uno de los principales galardones
                  gastronómicos.
                </p>
                <a
                  href="http://www.bonviveur.es/noticias/the-worlds-50-best-restaurants-2018-lista-del-51-al-100"
                  class="post-meta"
                  >Ver más...</a
                >
              </div>
            </div>
          </div>
          <!-- Post 1 -->
          <div class="col-md-4 padding-15">
            <div class="blog-post">
              <img src="./assets/img/f13.jpg" alt="blog post" />
              <div class="blog-content">
                <span class="date"
                  ><i class="fa fa-clock-o"></i> January 01.2018</span
                >
                <h3>
                  <a
                    href="http://www.bonviveur.es/noticias/the-worlds-50-best-restaurants-2018-lista-del-51-al-100"
                    >Madrid Fusión 2019: la reformulación de la cocina
                    triunfa</a
                  >
                </h3>
                <p>
                  La cita gastronómica más importante de España ha vuelto a
                  batir récords de asistencia y participación. Sin duda, Madrid
                  Fusión sigue encendiendo fogones y corazones.
                </p>
                <a
                  href="http://www.bonviveur.es/noticias/the-worlds-50-best-restaurants-2018-lista-del-51-al-100"
                  class="post-meta"
                  >Ver más...</a
                >
              </div>
            </div>
          </div>
          <!-- Post 2 -->
          <div class="col-md-4 padding-15">
            <div class="blog-post">
              <img src="./assets/img/f14.jpg" alt="blog post" />
              <div class="blog-content">
                <span class="date"
                  ><i class="fa fa-clock-o"></i> January 01.2018</span
                >
                <h3>
                  <a
                    href="http://www.bonviveur.es/noticias/las-mejores-cervezas-del-mundo"
                    >Las 16 mejores cervezas del mundo según los World Beer
                    Awards 2018</a
                  >
                </h3>
                <p>
                  Como cada año, los World Beer Awards de Londres han
                  distinguido a las mejores cervezas del 2018 de entre las miles
                  de referencias presentadas a concurso. Y estas son las mejores
                  cervezas de este año.
                </p>
                <a
                  href="http://www.bonviveur.es/noticias/las-mejores-cervezas-del-mundo"
                  class="post-meta"
                  >Ver más...</a
                >
              </div>
            </div>
          </div>
          <!-- Post 3 -->
        </div>
      </div>
      <!-- Blog Posts -->
    </div>
  </div>
</section>
<!-- Blog Section -->

<div class="sponsor-section bd-bottom">
  <div class="container">
    <ul id="sponsor-carousel" class="sponsor-items owl-carousel">
      <li class="sponsor-item">
        <img src="./assets/img/sponsor-1.png" alt="sponsor-image" />
      </li>
      <li class="sponsor-item">
        <img src="./assets/img/sponsor-2.png" alt="sponsor-image" />
      </li>
      <li class="sponsor-item">
        <img src="./assets/img/sponsor-3.png" alt="sponsor-image" />
      </li>
      <li class="sponsor-item">
        <img src="./assets/img/sponsor-4.png" alt="sponsor-image" />
      </li>
      <li class="sponsor-item">
        <img src="./assets/img/sponsor-5.png" alt="sponsor-image" />
      </li>
      <li class="sponsor-item">
        <img src="./assets/img/sponsor-6.png" alt="sponsor-image" />
      </li>
      <li class="sponsor-item">
        <img src="./assets/img/sponsor-7.png" alt="sponsor-image" />
      </li>
      <li class="sponsor-item">
        <img src="./assets/img/sponsor-8.png" alt="sponsor-image" />
      </li>
    </ul>
  </div>
</div>
<!-- ./Sponsor Section -->
