<div class="pager-header">
  <div class="container">
      <div class="page-content">
          <h2>Our Courses</h2>
          <p>Lorem Ipsum is simply text of the industry. </p>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['home']">Inicio</a></li>
              <li class="breadcrumb-item active">Cursos</li>
          </ol>
      </div>
  </div>
</div><!-- /Page Header -->

<section class="course-section bg-grey padding">
  <div class="container">
      <div class="section-heading mb-40 text-center">
         <h2>Populer Courses</h2>
         <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6 sm-padding">
              <div class="course-item">
                 <div class="course-thumb">
                      <img src="assets/img/course-1.jpg" alt="course">
                      <a class="enroll-btn" href="#">Book Now <i class="fa fa-plus"></i></a>
                      <div class="thumb-details">
                          <img src="assets/img/team-1.jpg" alt="img">
                          <div class="thumb-content">
                              <h4>Devid Cameroon</h4>
                          </div>
                      </div>
                  </div>
                  <div class="course-details">
                      <h3><a href="#">Basic Wordpress Development</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
                      <div class="course-footer">
                          <span><i class="fa fa-group"></i>763</span>
                          <span><i class="fa fa-heart"></i>205</span>
                          <span class="price">$499</span>
                      </div>
                  </div>
              </div>
          </div><!-- /#item-1 -->
          <div class="col-lg-4 col-md-6 sm-padding">
              <div class="course-item">
                 <div class="course-thumb">
                      <img src="assets/img/course-2.jpg" alt="course">
                      <a class="enroll-btn" href="#">Book Now <i class="fa fa-plus"></i></a>
                      <div class="thumb-details">
                          <img src="assets/img/team-2.jpg" alt="img">
                          <div class="thumb-content">
                              <h4>Donal Trump</h4>
                          </div>
                      </div>
                  </div>
                  <div class="course-details">
                      <h3><a href="#">Mastering Php Language</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
                      <div class="course-footer">
                          <span><i class="fa fa-group"></i>763</span>
                          <span><i class="fa fa-heart"></i>205</span>
                          <span class="price">$149</span>
                      </div>
                  </div>
              </div>
          </div><!-- /#item-2 -->
          <div class="col-lg-4 col-md-6 sm-padding">
              <div class="course-item">
                 <div class="course-thumb">
                      <img src="assets/img/course-3.jpg" alt="course">
                      <a class="enroll-btn" href="#">Book Now <i class="fa fa-plus"></i></a>
                      <div class="thumb-details">
                          <img src="assets/img/team-3.jpg" alt="img">
                          <div class="thumb-content">
                              <h4>Jone Smith</h4>
                          </div>
                      </div>
                  </div>
                  <div class="course-details">
                      <h3><a href="#">Javascript Development</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
                      <div class="course-footer">
                          <span><i class="fa fa-group"></i>763</span>
                          <span><i class="fa fa-heart"></i>205</span>
                          <span class="price">$239</span>
                      </div>
                  </div>
              </div>
          </div><!-- /#item-3 -->
          <div class="col-lg-4 col-md-6 sm-padding">
              <div class="course-item">
                 <div class="course-thumb">
                      <img src="assets/img/course-4.jpg" alt="course">
                      <a class="enroll-btn" href="#">Book Now <i class="fa fa-plus"></i></a>
                      <div class="thumb-details">
                          <img src="assets/img/team-4.jpg" alt="img">
                          <div class="thumb-content">
                              <h4>Angelina Rose</h4>
                          </div>
                      </div>
                  </div>
                  <div class="course-details">
                      <h3><a href="#">Frontend Development</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
                      <div class="course-footer">
                          <span><i class="fa fa-group"></i>763</span>
                          <span><i class="fa fa-heart"></i>205</span>
                          <span class="price">$849</span>
                      </div>
                  </div>
              </div>
          </div><!-- /#item-4 -->
          <div class="col-lg-4 col-md-6 sm-padding">
              <div class="course-item">
                 <div class="course-thumb">
                      <img src="assets/img/course-5.jpg" alt="course">
                      <a class="enroll-btn" href="#">Book Now <i class="fa fa-plus"></i></a>
                      <div class="thumb-details">
                          <img src="assets/img/team-1.jpg" alt="img">
                          <div class="thumb-content">
                              <h4>Devid Cameroon</h4>
                          </div>
                      </div>
                  </div>
                  <div class="course-details">
                      <h3><a href="#">Psd to Html Convart</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
                      <div class="course-footer">
                          <span><i class="fa fa-group"></i>763</span>
                          <span><i class="fa fa-heart"></i>205</span>
                          <span class="price">$149</span>
                      </div>
                  </div>
              </div>
          </div><!-- /#item-5 -->
          <div class="col-lg-4 col-md-6 sm-padding">
              <div class="course-item">
                 <div class="course-thumb">
                      <img src="assets/img/course-5.jpg" alt="course">
                      <a class="enroll-btn" href="#">Book Now <i class="fa fa-plus"></i></a>
                      <div class="thumb-details">
                          <img src="assets/img/team-1.jpg" alt="img">
                          <div class="thumb-content">
                              <h4>Devid Cameroon</h4>
                          </div>
                      </div>
                  </div>
                  <div class="course-details">
                      <h3><a href="#">Html to Wordpress Convart</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
                      <div class="course-footer">
                          <span><i class="fa fa-group"></i>763</span>
                          <span><i class="fa fa-heart"></i>205</span>
                          <span class="price">$149</span>
                      </div>
                  </div>
              </div>
          </div><!-- /#item-6 -->
      </div>
  </div>
</section><!-- /#Course-Section -->

<div class="sponsor-section bd-bottom">
  <div class="container">
      <ul id="sponsor-carousel" class="sponsor-items owl-carousel">
          <li class="sponsor-item">
              <img src="assets/img/sponsor-1.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-2.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-3.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-4.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-5.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-6.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-7.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-8.png" alt="sponsor-image">
          </li>
      </ul>
  </div>
</div><!-- ./Sponsor Section -->
