<div class="pager-header">
  <div class="container">
      <div class="page-content">
          <h2>Upcoming Events</h2>
          <p>Lorem Ipsum is simply text of the industry. </p>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['home']">Inicio</a></li>
              <li class="breadcrumb-item active">Eventos</li>
          </ol>
      </div>
  </div>
</div><!-- /Page Header -->

<section class="event-section bg-grey padding">
  <div class="container">
     <div class="section-heading mb-40 text-center">
         <h2>Upcoming Events</h2>
         <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
      </div>
      <div class="event-items">
          <div class="row event-wrap d-flex align-items-center">
              <div class="col-lg-2 text-center">
                  <div class="event-date">
                      <h2>15 <span>January</span></h2>
                  </div>
                  <div class="ticket-btn">
                      <a href="#" class="default-btn">Purchase Ticket</a>
                  </div>
              </div>
              <div class="col-lg-7">
                  <div class="event-details">
                      <h2><a href="#">How to start a blog site using wordpress.</a></h2>
                      <ul class="event-time">
                          <li><i class="fa fa-clock-o"></i>5:00 AM - 9:00 PM</li>
                          <li><i class="fa fa-map-marker"></i>Inter Continental Garden, Dhaka.</li>
                      </ul>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. The industry’s standard dummy text ever scramble.</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="event-thumb">
                      <img src="assets/img/course-1.jpg" alt="event">
                  </div>
              </div>
          </div><!-- Event-1 -->

          <div class="row event-wrap d-flex align-items-center">
              <div class="col-lg-2 text-center">
                  <div class="event-date">
                      <h2>21 <span>January</span></h2>
                  </div>
                  <div class="ticket-btn">
                      <a href="#" class="default-btn">Purchase Ticket</a>
                  </div>
              </div>
              <div class="col-lg-7">
                  <div class="event-details">
                      <h2><a href="#">How to create a new landing page.</a></h2>
                      <ul class="event-time">
                          <li><i class="fa fa-clock-o"></i>5:00 AM - 9:00 PM</li>
                          <li><i class="fa fa-map-marker"></i>Inter Continental Garden, Dhaka.</li>
                      </ul>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. The industry’s standard dummy text ever scramble.</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="event-thumb">
                      <img src="assets/img/course-2.jpg" alt="event">
                  </div>
              </div>
          </div><!-- Event-2 -->

          <div class="row event-wrap d-flex align-items-center">
              <div class="col-lg-2 text-center">
                  <div class="event-date">
                      <h2>25 <span>January</span></h2>
                  </div>
                  <div class="ticket-btn">
                      <a href="#" class="default-btn">Purchase Ticket</a>
                  </div>
              </div>
              <div class="col-lg-7">
                  <div class="event-details">
                      <h2><a href="#">How to make a e-commerce website.</a></h2>
                      <ul class="event-time">
                          <li><i class="fa fa-clock-o"></i>5:00 AM - 9:00 PM</li>
                          <li><i class="fa fa-map-marker"></i>Inter Continental Garden, Dhaka.</li>
                      </ul>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. The industry’s standard dummy text ever scramble.</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="event-thumb">
                      <img src="assets/img/course-3.jpg" alt="event">
                  </div>
              </div>
          </div><!-- Event-3 -->
      </div>
      <div class="load-more text-center mt-40">
          <a href="#" class="default-btn">More Events</a>
      </div>
  </div>
</section><!-- Event Section -->

<div class="sponsor-section bd-bottom">
  <div class="container">
      <ul id="sponsor-carousel" class="sponsor-items owl-carousel">
          <li class="sponsor-item">
              <img src="assets/img/sponsor-1.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-2.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-3.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-4.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-5.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-6.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-7.png" alt="sponsor-image">
          </li>
          <li class="sponsor-item">
              <img src="assets/img/sponsor-8.png" alt="sponsor-image">
          </li>
      </ul>
  </div>
</div><!-- ./Sponsor Section -->
