<section class="widget-section padding">
  <div class="container">
      <div class="widget-wrap row">
          <div class="col-md-3 xs-padding">
              <div class="widget-content">
                  <img src="./assets/img/logo-light.png" alt="logo">
                  <p>Somos formación, creamos tu pasión e inspiración. esperamos que tus sueños se hagan realidad. Por favor envíe un correo electrónico y reciba las últimas noticias..</p>
                  <!-- <ul class="social-icon">
                      <li><a href="https://www.facebook.com/origenesculinarios" target=""><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul> -->
              </div>
          </div>
          <div class="col-md-2 xs-padding">
              <div class="widget-content">
                  <h3>Navegación</h3>
                  <ul class="widget-link">
                      <li><a href="#">Nosotros</a></li>
                      <li><a href="#">Cursos mas populares</a></li>
                      <li><a href="#">Instructores</a></li>
                      <li><a href="#">Contactanos</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-2 xs-padding">
              <div class="widget-content">
                  <h3>Cursos mas populares</h3>
                  <ul class="widget-link">
                      <li><a href="#">Técnicas</a></li>
                      <li><a href="#">Manejo de alimentos</a></li>
                      <li><a href="#">Cuidados Básicos</a></li>
                      <li><a href="#">Pastry and design</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-2 xs-padding">
              <div class="widget-content">
                  <h3>Enlaces Utiles</h3>
                  <ul class="widget-link">
                      <li><a href="#">Privacidad</a></li>
                      <li><a href="#">Documentación</a></li>
                      <li><a href="#">Foros</a></li>
                      <li><a href="#">Lenguaje</a></li>
                  </ul>
              </div>
          </div>
<!--           <div class="col-md-3 xs-padding">
              <div class="widget-content">
                  <h3>Estar en contacto</h3>
                  <div class="subscribe-wrap">
                      <form action="#" class="subscribe-form">
                          <input type="email" name="email" id="subs-email" class="form-input" placeholder="Your Email...">
                          <button type="submit" class="submit">Inscribete</button>
                          <div class="clearfix"></div>
                          <div id="subscribe-result">
                              <p class="subscription-success"></p>
                              <p class="subscription-error"></p>
                          </div>
                      </form>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</section><!-- ./Widget Section -->

<footer class="footer-section">
<div class="container">
      <div class="row">
          <div class="col-md-12 sm-padding">
              <div class="copyright text-center">&copy; 2018 Quitec www.quitec.com.ec</div>
          </div>
          <!-- <div class="col-md-6 sm-padding">
              <ul class="footer-social">
                  <li><a href="#">Orders</a></li>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Report Problem</a></li>
              </ul>
          </div> -->
      </div>
</div>
</footer><!-- /Footer Section -->

<a data-scroll href="#header" id="scroll-to-top"><i class="arrow_up"></i></a>
